:root{
    --green: rgb(0,205,124);
    --lightgrey:rgb(240,240,240);
    --grey: rgb(220,220,220);
    --darkgrey: rgb(51,51,51);
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--lightgrey);
}

.colum{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    background-color: var(--green);
}

.nav{
    padding: 5% 10%;
}

.container-menu{
    display: flex;
    justify-content: end;
}

.fas{
    font-size: xx-large;
}

.bgdark{
    background-color: var(--darkgrey);
    height: 65px;
    margin: 25% 10%;
    clip-path: polygon(0 15%, 0 0, 100% 0, 100% 74%, 59% 75%, 55% 100%, 51% 75%, 25% 75%, 31% 0, 30% 0, 24% 75%, 0 75%);
}

.linegreen{
    width: 10px;
    height: 125px;
}

.whitetext{
    color: white;
    font-size: 45px;
    transform: translateY(-10px);
}

.righttext{
    font-weight: 600;
    display: flex;
    justify-content: end;
    margin: 0% 12.5%;
    transform: translateY(-95px);
    font-size: 14px;
}

.searchtext{
    padding: 2%;
    border: none;
    width: 230px;
    height: 55px;
    font-size: 20px;
}

.searchimg{
    background-color: var(--darkgrey);
    height: 71px;
    width: 70px;
}

.fa-white{
    color: white;
}

.footer{
    border-top: var(--grey) solid;
    padding: 3%;
    background-color: white;
}