:root{
    --white:rgb(255, 255, 255);
    --green: rgb(0,205,124);
    --lightgrey:rgb(240,240,240);
    --grey: rgb(220,220,220);
    --darkgrey: rgb(51,51,51);
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--lightgrey);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

input:focus-visible{
    outline: none;
}

::placeholder{
    color:rgb(212, 208, 208);
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceabetween{
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 400px;
    box-shadow: 8px 6px 15px var(--darkgrey);
}

.bggreen{
    background-color: var(--green);
}

.bgwhite{
    background-color: var(--white);
}

.bggrey{
    background-color: var(--darkgrey);
}

.bglightgrey{
    background-color: var(--lightgrey);
}

.bgdictionary{
    background-color: rgb(220,220,220);
}

.nav{
    padding: 5% 10%;
}

.container-menu{
    display: flex;
    justify-content: end;
}

.fas-xx-large{
    font-size: xx-large;
}

.clip-greylogo{
    height: 65px;
    clip-path: polygon(0 15%, 0 0, 100% 0, 100% 74%, 59% 75%, 55% 100%, 51% 75%, 25% 75%, 31% 0, 30% 0, 24% 75%, 0 75%);
}

.clip-greenlogo{
    height: 65px;
    clip-path: polygon(0 15%, 0 0, 100% 0, 100% 75%, 49% 75%, 46% 100%, 42% 75%, 22% 75%, 28% 0, 27% 0, 21% 75%, 0 75%);
}

.clip-triangle{
    clip-path: polygon(0% 0, 10% 64%, 20% 0);
    height: 37px;
}

.margin25-10{
    margin: 25% 10%;
}

.marginL3{
    margin-left: 3%;
}

.linegreen{
    width: 10px;
    height: 125px;
}

.whitetext{
    color: var(--white);
}

.greentext{
    color: var(--green);
}

.greytext{
    color: var(--grey)
}

.italic{
    font-style: italic;
}

.whitetextlogo{
    font-size: 45px;
    transform: translateY(-10px);
}

.righttext{
    font-weight: 600;
    display: flex;
    justify-content: end;
    margin: 0% 12.5%;
    transform: translateY(-95px);
    font-size: 14px;
}

.searchtext{
    padding: 0 2%;
    border: none;
    width: 230px;
    height: 70px;
    font-size: 20px;
}

.searching{
    height: 70px;
    width: 70px;
}

.selector{
    display: flex;
    padding: 3% 10% 40%;
    justify-content: space-between;
    align-items: center;
}

.footer{
    box-shadow: 0px -3px 3px var(--grey);
    padding: 3%;
    background-color: var(--white);
}

.headbase{
    justify-content: space-around;
    padding: 3% 0;
}

.containertriangle{
    margin-left: 7%;
    transform: translateY(-3px);
}

.linegrey{
    border-bottom: 2px solid var(--lightgrey);
    margin-left: 7%;
    width: 45px;
}

.dropdown{
    transform: translateY(-24px);
    width: 144px;
}

.zigzag{
    height: 75%;
}

.bordertext{
    border: 2px solid;
    padding: 1% 2%;
}

.bordergreen{
    border-color: var(--green);
}

.dictionary-paragraph{
    margin-top: 0;
    padding: 2%;
}

.dictionary-title{
   margin-bottom: 0;
   padding: 1% 2%;
}

.margin3{
    margin: 3%;
    min-height: 500px;
}













.displaynone{
    display: none;
}