{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ribaguifi</title>
  <meta
      name="description"
      content="Prueba técnica para Ribaguifi"
  />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
  <script
      src="https://kit.fontawesome.com/1ed068a928.js"
      crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
</head>
<body>
  <div class="container bggreen">
    <nav class="nav">
      <div class="container-menu">
        <i class="fas fa-bars fas-xx-large"></i>
      </div>
    </nav>
    <header>
      <div class="row center clip-greylogo bggrey margin25-10">
        <h2 class="whitetext whitetextlogo">Cat</h2>
        <span class="linegreen"></span>
        <h2 class="whitetext whitetextlogo">Aragonario</h2>
      </div>
      <div>
        <p class="righttext">Diccionario dialectal<br>del catalán de Aragón</p>
      </div>
    </header>
    <section>
      <div class="row center">
        <input class="searchtext" type="text" placeholder="Catalán de Aragón">
        <div class="searching bggrey">
          <a href="./page-2" class="center"><i class="fas fa-search whitetext fas-xx-large"></i></a>
        </div>
      </div>
      <div class="selector row">
        <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">cat. nor</div>
              <div class="swiper-slide">cat. de ara.</div>
              <div class="swiper-slide">cast. nor</div>
          </div>
          <div class="swiper-button-next"><i class="fas fa-arrow-right"></i></div>
          <div class="swiper-button-prev"><i class="fas fa-arrow-left"></i></div>
        </div>
    </div>

    </section>
    <footer class="footer center">
      <i class="fas fa-chevron-up fas-xx-large"></i>
    </footer>
  </div>
  <script src="{% static 'js/index-2.js' %}"></script>
</body>
</html>