{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ribaguifi</title>
  <meta
      name="description"
      content="Prueba técnica para Ribaguifi"
  />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
  <script
      src="https://kit.fontawesome.com/1ed068a928.js"
      crossorigin="anonymous"
  ></script>
</head>
<body>
  <div class="container">
    <nav class="nav">
      <div class="container-menu">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
    <section class="row center bgdark">
      <div>
        <h2 class="whitetext">Cat</h2>
      </div>
      <div class="linegreen"></div>
      <div>
        <h2 class="whitetext">Aragonario</h2>
      </div>
    </section>
  </div>
  

</body>
</html>