{% extends "base.html" %}

{% block content %}
<section class="sectionpage2">
    <div class="row spacearound">
        <div class="row">
           <input class="searchtext bglightgrey" type="text" placeholder="Catalán de Aragón">
            <div class="searching center bggreen">
                <i class="fas fa-search fa-white fas-xx-large"></i>
            </div> 
        </div>
        <div>
            <div class="searching center bggreen">
                <i class="fas fa-sync-alt fa-white fas-xx-large"></i>
            </div> 
        </div>
    </div>
    <div class="linegrey">
        <div class="clip-triangle bglightgrey">ss</div>
    </div>
</section>
{% endblock %}