{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ribaguifi</title>
  <meta
      name="description"
      content="Prueba técnica para Ribaguifi"
  />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
  <script
      src="https://kit.fontawesome.com/1ed068a928.js"
      crossorigin="anonymous"
  ></script>
</head>
<body>
  <div class="container bgwhite">
    <header class="row headbase clip-greenlogo bggreen">
        <div class="center"> 
            <a href="./" class="row center">
                <h2 class="whitetext whitetextlogo">Cat</h2>
                <span class="linegreen"></span>
                <h2 class="whitetext whitetextlogo">Aragonario</h2>
            </a>
        </div>
        <nav class="bggreen">
            <div class="container-menu">
              <i class="fas fa-bars fas-xx-large whitetext"></i>
            </div>
        </nav>
    </header>
    <div class="margin3">
        <section>
            <div class="row spaceabetween">
                <div class="row">
                <input class="searchtext bglightgrey" type="text" placeholder="Catalán de Aragón">
                    <div class="searching center bggreen" id="search-btn">
                        <i class="fas fa-search  fas-xx-large whitetext"></i>
                    </div> 
                </div>
                <div class="searching center bggreen" id="modes-btn">
                    <img class="zigzag" alt="zigzag arrow" src="../static/images/zigzagarrow.png"/>
                </div> 
            </div>
            <div class="clip-triangle bglightgrey"></div>
            
            <div class="column bglightgrey center dropdown displaynone" id="modes_menu">
                <h3 class="greentext">cat. nor.</h3>
                <i class="fas fa-long-arrow-alt-up greentext"></i>
                <h3 class="greentext bordertext bordergreen">cat. de ara.</h3>
                <i class="fas fa-long-arrow-alt-down greentext"></i>
                <h3 class="greentext">cast. nor</h3>
            </div>
            
        </section>
        <section class="displaynone" id="dictionary">
            <h4 class="greytext">bolandrina</h4>
            <h4 class="greytext italic">Sustantivo femenino (s.f.)</h4>
            <div class="row">
                <h5 class="bordertext bordergreen greentext">Cat. Nor.</h5>
                <h5 class="center marginL3">oreneta</h5>
            </div>
            <div class="row">
                <h5 class="bordertext bordergreen greentext">Cast. Nor.</h5>
                <h5 class="center marginL3">golondrina</h5>
            </div>
            <div>
                <h3 class="bggreen whitetext dictionary-title">Varietats diatopiques</h3>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">bolandrina</h3>
                <h4 class="bglightgrey dictionary-paragraph">La Ribagorza (les Paúls, Sopeira)</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">golondrina</h3>
                <h4 class="bglightgrey dictionary-paragraph">La Ribagorza (la Pobla de Roda)</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">oreneta</h3>
                <h4 class="bglightgrey dictionary-paragraph">La Ribagorza (Tolba), Caspe (Favara), Matarranya (Massalió, Vall-de-roures)</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">orineta</h3>
                <h4 class="bglightgrey dictionary-paragraph">Litera (Peralta de la Sal), Matarranya (Valljunquera), Bajoara (La Ginebrosa, Bellmunt)</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">angrineta</h3>
                <h4 class="bglightgrey dictionary-paragraph">Cinca</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">engrineta</h3>
                <h4 class="bglightgrey dictionary-paragraph">Cinca (Fraga)</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">aurineta</h3>
                <h4 class="bglightgrey dictionary-paragraph">Cinca (Mequinenza)</h4>
            </div>
            <div>
                <h3 class="bgdictionary darkgreytext dictionary-title">colondrina</h3>
                <h4 class="bglightgrey dictionary-paragraph">Bajoara (La Codonyera)</h4>
            </div>
        </section>
        <div class="linegrey"></div>
    </div>
    <footer class="footer center">
      <i class="fas fa-chevron-up fas-xx-large"></i>
    </footer>
  </div>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>